body{
  overflow: hidden;
}
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #ffffff;
    padding: 30px;
    width: 500px;
    border-radius: 20px;
    height: 90vh;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .form-actual{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  
  .inputForm {
    border: 1.5px solid #ecedec;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    transition: 0.2s ease-in-out;
  }
  
  .inputForm img {
    width: 30px;
    height: 30px;
  }

  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
    color: #151717;
  }
  
  .input:focus {
    outline: none;
    border: none;
  }
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  .inputForm input:focus {
    outline: none;
    border: none;
    --tw-ring-shadow: none;/* Remove default focus ring color (tailwind thingy)*/
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white !important;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .button-submit:hover {
    background-color: #252727;
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #151717;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    
  }
  
  .btn:hover {
    border: 1px solid #2d79f3;
    ;
  }
  
.email-svg,.password-svg{
    width: 35px;
    height: 35px;
}

/* for mobile */
@media only screen and (max-width: 600px) {
  body{
    overflow:scroll;
  }
  .form {
      width: 99%;
      height: 75vh;
      padding: 20px; 
      margin-left: 0.5%;   
      position: relative;
      margin-top: 0px;
      margin-bottom: 0px;
      top: 250px;  
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 0px;
  }
  .form button {
      align-self: center; 
  }
  .flex-row > div > label {
      font-size: 12px;
  }
  .span {
      font-size: 12px;
  }


  .button-submit {
      margin: 20px 0 10px 0;
      background-color: #151717;
      border: none;
      color: white;
      font-size: 15px;
      font-weight: 500;
      border-radius: 10px;
      height: 50px;
      width: 100%;
      cursor: pointer;
  }
  .button-submit:hover {
      background-color: #252727;
  }
  .p {
      text-align: center;
      color: black;
      font-size: 14px;
      margin: 5px 0;
  }
  .btn {
      margin-top: 10px;
      width: 100%;
      height: 50px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      gap: 10px;
      border: 1px solid #151717;
      background-color: white;
      cursor: pointer;
      transition: 0.2s ease-in-out;
  }
  .btn:hover {
      border: 1px solid #2d79f3;
  }
  .heartImage{
    display: none;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    /* transition: ease-in-out; */
  }
  12.5% {
    transform: scale(1.05);
    /* transition: ease-in-out; */
  }
  50% {
    transform: scale(1);
    /* transition: ease-in-out; */
  }
  87.5% {
    transform: scale(1.05);
    /* transition: ease-in-out; */
  }
  100% {
    transform: scale(1);
    transition: ease-in-out;
  }
}

.heartImage {
  animation: heartbeat 1.5s infinite;
}
