@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --gray: #f2f2f7;
  --gray-hover: #e8e8ed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --gray: #272729;
    --gray-hover: #313133;
  }
}

@media (prefers-color-scheme: light) {
  html{
    -webkit-text-fill-color: black;

  }
  .text-dark {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}
.text-dark:hover{
  --tw-text-opacity: 1;
    color: #333;
}

  ::placeholder {
    color: #5c5c5c;
    opacity: 1; /* Firefox */
  }

  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    -webkit-text-fill-color: black;

  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* Webkit (Safari, Chrome) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Track color (light gray) */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color (gray) */
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover (darker gray) */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

/* Edge */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color (light gray) */
}

*::-webkit-scrollbar-thumb {
  background: #888; /* Thumb color (gray) */
  border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #555; /* Thumb color on hover (darker gray) */
}

.background-animate {
  background-size: 400%;
  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
